.nav{
  height: 55px;
  background-color: #2c2f33;
  box-shadow: 0 2px 5px 0 black;
}

.nav ul li{
  margin-right: 5px;
}

ul{
  height: 55px;
  list-style: none;
}
li{
  color: bisque;
}
.forimage{
  height: 50px;
}